.comments-section{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.comments-section__leavedComments{
    height: 80%;
    width: 100%;
    overflow-y: auto;
    background-color: tomato;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.leavedComments-commentBlock{
    position: relative;
    width: 97%;
    margin-bottom: 10px;
    align-self: center;
    /* align-items: center; */
}
.leavedComments-commentBlock_addInfo{
    display: flex;
    justify-content: space-between;
}
.leavedComments-commentBlock__comment{
    width:100%;
    height:75px;
    overflow:auto;
    text-align: justify;
    background-color: burlywood;
    font-size: 15px;
    resize: none;
    cursor:pointer;
    padding: 10px;
    box-sizing: border-box;
}
.leavedComments-commentBlock__buttonsBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.commentBlock__buttonsBlock-likeItem{
    display: flex;
    flex-direction: row;
}
.commentBlock__buttonsBlock-likeItem .likeButton{
    border:none;
    background-color:transparent;
    
}
.commentBlock__buttonsBlock-likeItem .amountOfLikesItem{
    font-size: 20px;
    color:rgb(17, 33, 83);
}

.commentBlock__buttonsBlock-likeItem .likeButton:active svg{
    transform: scale(0.6)
}

.comments-section__createCommentBlock{
    height: 20%;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(255, 212, 71);
}
.createCommentBlock__input{
    width: 100%;
    resize: vertical;
}

.commentBlockToEdit{
    background-color: rgb(179, 201, 243);
}
.fullSize{
   
}
.disabledButton{
    background-color: rgb(216, 215, 212);
    color:rgb(104, 104, 104);
    pointer-events: none;
}
.svgLikedIcon{
    cursor: pointer;
    fill:rgb(57, 59, 202);
    transition: .3s;
}
.svgUnLikedIcon{
    cursor: pointer;
    fill: rgb(202, 227, 243);
    transition: .3s;
}