.comments-section{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.comments-section__leavedComments{
    height: 80%;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(255, 197, 143);
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.leavedComments-commentBlock{
    position: relative;
    width: 97%;
    margin-bottom: 10px;
    align-self: center;
    /* align-items: center; */
}
